@import '../Core/variables';
@import '../Core/breakpoints';

.button {
  display: inline-block;
  padding: map_get($sizes, medium) * 10px map_get($sizes, large) * 10px;
  background-color: map_get($colors, black);
  transition: background-color map_get($speeds, fast);

  &:hover {
    cursor: pointer;
    background-color: map_get($colors, blue);
  }

  @include breakpoint(medium) {
    padding: map_get($sizes, large) * 10px map_get($sizes, huge) * 10px;
  }
}